---
layout: single
permalink: /
author_profile: true
excerpt: >
  A place for free education and video courses about, Artificial Intelligence and Programming.<br />
  <small><a href="https://DaneshJoy.ir">Home</a></small>
feature_row:
  - image_path: /assets/images/ai_logo.png
    alt: "هوش مصنوعی"
    title: "&nbsp; هوش مصنوعی &nbsp;"
    excerpt: "آموزش های یادگیری عمیق<br/>و مطالب مرتبط با هوش مصنوعی"
    url: "/ai/"
    btn_class: "btn--info"
    btn_label: "مشاهده آموزش ها"
  - image_path: /assets/images/python_logo.png
    alt: "پایتون"
    title: "&nbsp; پایتون &nbsp;"
    excerpt: "آموزش های کدنویسی در پایتون<br/>و پردازش سیگنال و تصویر"
    url: "/python/"
    btn_class: "btn--info"
    btn_label: "مشاهده آموزش ها"
  - image_path: /assets/images/matlab_logo.png
    alt: "متلب"
    title: "&nbsp; متلب &nbsp;"
    excerpt: "آموزش های کدنویسی در متلب<br/>و پردازش سیگنال و تصویر"
    url: "/matlab/"
    btn_class: "btn--info"
    btn_label: "مشاهده آموزش ها" 
---
{% include feature_row %}

{% for post in site.posts limit: 5 %}
  {% include archive-single.html %}
{% endfor %}
