---
layout: single
permalink: /
author_profile: true
excerpt: "محلی برای آموزش های رایگان هوش مصنوعی و برنامه نویسی پایتون و متلب"
feature_row:
  - image_path: /assets/images/ai_logo.png
    alt: "هوش مصنوعی"
    title: "&nbsp; هوش مصنوعی &nbsp;"
    excerpt: "آموزش های یادگیری عمیق<br/>و مطالب مرتبط با هوش مصنوعی"
    url: "/ai/"
    btn_class: "btn--info"
    btn_label: "مشاهده آموزش ها"
  - image_path: /assets/images/python_logo.png
    alt: "پایتون"
    title: "&nbsp; پایتون &nbsp;"
    excerpt: "آموزش های کدنویسی در پایتون<br/>و پردازش سیگنال و تصویر"
    url: "/python/"
    btn_class: "btn--info"
    btn_label: "مشاهده آموزش ها"
  - image_path: /assets/images/matlab_logo.png
    alt: "متلب"
    title: "&nbsp; متلب &nbsp;"
    excerpt: "آموزش های کدنویسی در متلب<br/>و پردازش سیگنال و تصویر"
    url: "/matlab/"
    btn_class: "btn--info"
    btn_label: "مشاهده آموزش ها" 
feature_row۲:
  - image_path: /assets/images/daneshjoy-blog.png
    alt: "وبلاگ"
    title: "&nbsp; وبلاگ &nbsp;"
    excerpt: "یادداشت های من"
    url: "/blog/"
    btn_class: "btn--info"
    btn_label: "مشاهده یادداشت ها"
---

{% include feature_row %}

{% include feature_row id="feature_row۲" type="right" %}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent posts" }}</h3>

{% for post in site.posts limit: 5 %}
  {% include archive-single.html %}
{% endfor %}
